.calendar {
  padding-left: 39px;
  width: 100%;
}
.formItem {
  display: flex;
  align-items: center;
  margin: 41px 0;
}

.formItem__Title {
  letter-spacing: 0px;
  color: #000;
  font-size: 20px;
  font-size: calc(10px + 0.521vw);
  line-height: calc(10px + 0.885vw);
  font-weight: bolder;
}
.onOffswitch {
  margin-left: 22px;
}

.subForm {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 19px 32px;
}
.subFormItem {
  display: flex;
  width: max-content;
  align-items: baseline;
  margin-bottom: 30px;
  flex-wrap: wrap;
  position: relative;
}

.subFormItem__Title {
  letter-spacing: 0px;
  color: #000;
  font-size: calc(10px + 0.521vw);
  line-height: calc(10px + 0.885vw);
}

.subFormItem__input {
  height: 60px;
  padding: 17px 88px 16px 20px;
  letter-spacing: 0px;
  color: #000;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  margin-right: 17px;
  width: 15.052vw;
  min-width: 170px;
  max-width: 300px;
  font-size: calc(10px + 0.521vw);
  line-height: calc(17px + 0.521vw);
  padding-right: 0;
}
.formItem_aligne_bottom {
  align-items: baseline;
}
.formItem__input {
  height: 60px;
  border: none;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 5px;
  letter-spacing: 0px;
  color: #000;
  font-size: calc(10px + 0.521vw);
  line-height: calc(10px + 0.885vw);
  /* margin-left: 18px; */
  width: calc(33px + 2.24vw);
  padding: 0.833vw 0.729vw;
}
.formItem__inputValueType {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0px;
  color: #000;
  font-size: calc(10px + 0.521vw);
  line-height: calc(10px + 0.885vw);
  padding-right: 10px;
  height: 60px;
  width: 57px;
}
.buttonPosition {
  display: flex;
  align-items: baseline;
}
.formItem__direction {
  text-align: left;
  font: 15px/20px Segoe UI Regular;
  letter-spacing: 0px;
  color: #757575;
}
.inputPxWrapper {
  display: flex;
  margin: 0 10px 20px 10px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.buttonPosition__wrapper {
  margin-left: 18px;
}
.calWrapper {
  display: none;
  width: 48px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  position: absolute;
  border-radius: 50%;
  right: 20px;
  display: flex;
  top: 5px;
  justify-content: center;
  align-items: center;
}
.hiddenInput {
  height: 60px;
  position: absolute;
  right: 20px;
  z-index: 9;
  opacity: 0;
}
.hiddenInput::-webkit-calendar-picker-indicator:hover {
  background: transparent;
  cursor: pointer;
  padding: 18px;
  border-radius: 50%;
}
.timeRound {
  width: 48px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timeRound > div {
  border: 2px solid;
  height: 14px;
  border-radius: 10px;
  position: absolute;
}

.timeRound > div:last-child {
  transform: rotate(90deg);
  right: 16px;
  bottom: 8px;
}

.subFormFlex {
  display: flex;
  flex-wrap: wrap;
}
.buttonsBlock_right {
  margin-left: auto;
  margin-top: 41px;
}
.formItem__inputValueType_width_auto {
  width: auto;
  padding: 10px;
  border-radius: 5px;
}
.dateTimeWrapper {
  display: flex;
  margin: 0 10px 20px 10px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 200xp;
}
.formItem__input_moreWidth {
  width: 150px;
}
.boldSpan {
  font: Bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  font-size: calc(10px + 0.521vw);
}
.spanInptutWrapper {
  display: flex;
  align-items: baseline;
}

.icons__item {
  font-family: "Glyphter", Arial, Helvetica, sans-serif;
}

/* MEDIA SCREEN */

@media only screen and (max-width: 1000px) {
  .subForm {
    width: 100%;
  }
  .aside_left {
    display: none;
  }

  .menuIcon {
    display: block !important;
  }
}
@media only screen and (max-width: 600px) {
  .calendar {
    padding-left: 0;
  }
  .formItem__input_moreWidth {
    width: 110px;
  }
}
@media only screen and (max-width: 465px) {
  .subFormItem {
    flex-wrap: unset;
  }
  .subForm {
    padding-left: 10px;
  }
  .formItem_itemsCentered {
    display: unset;
  }
  .buttonPosition {
    justify-content: center;
  }
  .subFormItem__Title {
    margin-bottom: 5px;
    display: block;
    text-align: center;
  }
}
