.checkbox-wrapper {
  width: 31px;
  display: flex;
  height: 29px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + .checkboxLabel,
[type="checkbox"]:checked + .checkboxLabel {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  margin-bottom: 7px;
  display: inline-block;
  font-size: 17px;
}
[type="checkbox"]:not(:checked) + .checkboxLabel:before,
[type="checkbox"]:checked + .checkboxLabel:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  border: 0px hidden #ffffff;
  background: #f1f1f1;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
[type="checkbox"]:not(:checked) + .checkboxLabel:after,
[type="checkbox"]:checked + .checkboxLabel:after {
  content: "✔";
  position: absolute;
  top: 3px;
  left: 6px;
  font-size: 24px;
  line-height: 1.1;
  color: #2873eb;
  transition: all 0.2s;
}
[type="checkbox"]:not(:checked) + .checkboxLabel:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + .checkboxLabel:after {
  opacity: 1;
  transform: scale(1);
}

