.black-background {
    background: #23282d;
    position: absolute;
    width: 100%;
    height: auto;
}

.content {
  display: flex;
  height: auto;
  padding: 45px 5.417vw 45px 5.417vw;
  background: white;
  margin-left: 7.031vw;
  margin-top: 1.719vw;
}

.contactedUsers {
    padding: 10.188vw calc(20px + 1.042vw) calc(20px + 1.042vw) 0;
    display: flex;
    flex-direction: column;
}

.contactedUsers__heading {
    font: Bold calc(20px + 0.521vw)/calc(33px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 20px;
}
.pagination{
    padding: 25px 75px;
}
.select {
    display: flex;
}

.select__select {
    margin-top: 0;
}

.select__select:nth-child(even) {
    margin: 0 20px;
}

.selectGroup {
    display: flex;
}

.info {
    padding: 3.125vw 0;
}

.buttonGroup__button_unrounded {
    margin: 0;
    border-radius: 5px;
}
.buttonGroup__button_black{
    background: white;
    border: 2px solid #000000;
}

.table__data:first-child,
.table__head:first-child,
.table__data:nth-child(2),
.table__head:nth-child(2) {
    width: 80px;
    display: flex;
    justify-content: center;
}

.table__data:nth-child(3),
.table__head:nth-child(3) {
    width: 300px;
}

.table__data:nth-child(4),
.table__head:nth-child(4) {
    width: 200px;
}

.table__data:nth-child(5),
.table__head:nth-child(5) {
    width: 200px;
}

.table__data:nth-child(6),
.table__head:nth-child(6) {
    width: 300px;
}

.table__data:nth-child(7),
.table__head:nth-child(7) {
    width: 85px;
    justify-content: center;
    margin-left: auto;
    margin-right: 45px;
}

.table__row {
    min-width: 1000px;
}

.contactedUsers, .form {
    width: 100%;
}


@media only screen and (max-width: 920px) {
    .selectGroup {
        flex-direction: column;
    }

    .select__select:nth-child(even) {
        margin: 10px 0;
    }
}