.design {
    padding-left: 1.719vw;
    width: auto;
}

.content {
    padding-right: 0;
}

.design__heading {
    letter-spacing: 0px;
    color: #000;
    font-size: calc(15px + 1.302vw);
    line-height: calc(15px + 1.979vw);
    font-weight: bolder;
    transform: translateY(-14px);
    display: flex;
}

.formItem {
    display: flex;
    align-items: center;
    margin: 41px 0;
    width: 100%;
    flex-wrap: wrap;
}

.formItem__Title {
    letter-spacing: 0px;
    color: #000;
    font-size: 20px;
    font-size: calc(10px + 0.521vw);
    line-height: calc(10px + 0.885vw);
    font-weight: bolder;
}

.formItem__input {
    height: 60px;
    border: none;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px 0 0 5px;
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(10px + 0.885vw);
    margin-left: 18px;
    width: calc(20px + 2.240vw);
    padding: 0.833vw calc(5px + 0.629vw);
}
.formItem_lessMargin{
    margin-bottom:13px;
    margin-top: 0;
}

.formItem__input_big {
    padding: 16px 21px;
    border-radius: 5px;
    width: 98px;
}

.formItem__inputValueType {
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(10px + 0.885vw);
    padding-right: 10px;
    height: 60px;
    width: 40px;
}

.formItem__square {
    width: calc(52px + 4.271vw);
    height: calc(52px + 4.271vw);
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin: 0 4.5px;
}

.formItem__square_selected {
    width: calc(84px + 4.271vw);
    height: calc(84px + 4.271vw);
}

.formItem_itemsCentered {
    align-items: center;
    margin-top: 18px;
}

.subForm {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 19px 32px;
}

.subFormItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.subFormItem__Title {
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(10px + 0.885vw);
}

.subFormItem__input {
    height: 60px;
    padding: 17px 88px 16px 20px;
    letter-spacing: 0px;
    color: #000;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 7px;
    width: 15.052vw;
    min-width: 150px;
    font-size: calc(10px + 0.521vw);
    line-height: calc(17px + 0.521vw);
    padding-right: 0;
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.onOffswitch {
    margin-left: 22px;
}

.question-mark {
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-shadow: 0px 0px 6px #00000080;
    background: #c6c6c6 0% 0% no-repeat padding-box;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9px;
    font-weight: bolder;
}

.colorPicker {
    position: relative;
}

.colorPicker__input {
    opacity: 0;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 5px;
}

.colorPicker__cycle {
    width: 48px;
    height: 48px;
    background: #513131 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000004C;
    border-radius: 50%;
}

.unhideColorPicker {
    display: flex;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 6px 10px;
    margin-left: 20px;
    padding-right: 40px;
}

.colorPickerInformation {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}

.colorPickerInformation__title {
    letter-spacing: 0px;
    color: #000;
    font-size: calc(7px + 0.417vw);
    line-height: calc(10px + 0.521vw);
}

.colorPickerInformation__value {
    font: Regular 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #757575;    
    font-size: 15px;
    line-height: 20px;
}

.subFormItem__range {
    background-color: #fff;
    margin-left: 20px;
    width: calc(45px + 13.021vw);
}


.subFormItem:last-child {
    margin-bottom: 0;
}

.formItem__input_sgpb-popup-overlay {
    width: 289px;
    height: 60px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding-left: 17px 20px 17px 0;
}

.colorPicker__cycle_white {
    background-color: #fff;
}

.subFormItemImages {
    display: flex;
}

.subFormItemImages > img {
    border: 5px solid #ECECEC;
    margin-left: 20px;
}

.subFormBackground {
    display: flex;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    align-items: center;
}

.subFormItemIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
}

.subFormItem > .select__select {
    margin-left: 20px;
}
.buttonsBlock_right {
    margin-top: 74px;
}

.buttonsBlock_right > .buttonsBlock__button:first-child {
    margin-left: 0;
}

.buttonsBlock_right > .buttonsBlock__button:last-child {
    margin-right: 0;
}


@media only screen and (max-width: 1160px) {
    .subFormBackground {
        margin-left: 20px;
    }

    .subFormItemImages {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .subForm {
        width: 100%;
    }

    .aside_left {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .formItem__input_sgpb-popup-overlay {
        width: 100%;
        margin-right: 18px;
    }

    .subFormItemImages {
        justify-content: center;
    }

    .subFormItemImages > img {    
        margin-bottom: 10px;
    }

    .subFormItemImages .icons_pink {
        margin: 10px 0;
    }
    
    .formItem__input_sgpb-popup-overlay {
        margin-left: 0;
        width: 65%;
        min-width: 200px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .subForm {
        padding: 19px 10px;
    }
}