.dimensions {
    padding: 0 39px;
}

.dimensions, .form {
    width: 100%;
}

.dimensions__heading {
    font: Bold calc(20px + 1.042vw)/calc(1.563vw + 23px) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.formItem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.formItem__title {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.quotedMessage {
    width: 215px;
    height: 51px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.quotedMessage__message {
    font: Bold 9px/12px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    padding: 0 14px;
    height: 100%;
    display: flex;
    align-items: center;
    background: #BCBCBC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 5px;
}

.quotedMessage__left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #BCBCBC; 
}

.question-mark_right {
    margin-left: calc(20px + 2.865vw);
    margin-right: 2px;
}

.subForm {
    padding: calc(11px + 0.521vw) calc(10px + 1.042vw) calc(5px + 1.042vw) calc(10px + 1.042vw);
    background-color: rgba(0, 0, 0, 0.02);
}

.subFormItem {
    display: flex;
    align-items: center;
}

.subFormItem__title {
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(17px + 0.521vw);
}

.subFormItem__input {
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(17px + 0.521vw);
    padding: 10px 13px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    width: 75px;
    border-radius: 5px 0 0 5px;
}

.subFormItemInput {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    margin-left: 21px;
}

.subFormItemInput > div {
    padding: 0 17px;
    border-radius: 0 5px 5px 0;
}

.subForm_flex {
    display: flex;
    flex-wrap: wrap;
}

.subFormItemInput_smallMargin {
    margin: 0 10px;
}

.formItem__input {
    font: Italic 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #C2C2C2;
    padding: 13px 12px;
    width: calc(100px + 5.208vw);
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
}

.minWidth, .maxWidth, .minHeight, .maxHeight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 270px;
}

.bottom {
    margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
    .menuIcon {
        display: block;
    }

    .aside_left {
        display: none;
    }

    .black-background {
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .dimensions {
        padding: 0;
    }
}