footer {
  min-height: 113px;
  background: #2873eb;
  display: flex;
  align-items: center;
}
.footerContent {
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.iconSpanWrapper {
  display: flex;
  justify-content: space-evenly;
}
.footer__icon {
  width: 25px;
  height: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
.footer__span {
  height: 27px;
  text-align: left;
  margin: 0 10px;
  font: Light 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer__span_bold {
  height: 27px;
  text-align: left;
  font: Bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  font-size: calc(10px + 0.521vw);
  color: #ffffff;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContent__left {
  min-width: 730px;
  display: flex;
  justify-content: space-between;
}
.previewChangesButton {
  width: 11.302vw;
  height: 71px;
  border: 2px solid #ffffff;
  border-radius: 41px;
  background: none;
  text-align: center;
  font: Bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  outline: none;
  color: #ffffff;
  margin-right: 18px;
  min-width: 176px;
  font-size: calc(10px + 0.521vw);
}
.updateButton {
  width: 8.594vw;
  min-width: 70px;
  height: 71px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00368d7a;
  border-radius: 41px;
  font: Bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #2873eb;
  border: none;
  outline: none;
  font-size: calc(10px + 0.521vw);
}

/* MEDIA SCREEN */

@media only screen and (max-width: 1218px) {
  footer {
    padding: 20px 0;
  }
  .footerContent {
    justify-content: center;
  }
  .butttonsBlock {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 870px) {
  .footerContent {
    width: 95%;
  }
  .footerContent__left {
    min-width: 620px;
  }
}
@media only screen and (max-width: 738px) {
  .footerContent__left {
    min-width: unset;
    flex-wrap: wrap;
    justify-content: center;
  }
  .iconSpanWrapper {
    margin: 5px 15px;
  }
}
