.iconsWrapper {  
  padding: 0 47px;
  padding-top: 60px;
  height: 538px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.icons__item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b5caec;
  font-family: "Glyphter", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #2873EB;
}
.icons_pink {
  background: #ffcece;
  color: #C12121;
}
.icons_gray {
  background: #c7c7c7;
  position: relative;
  color: #000;
}

.icons_gray > img {
  position: absolute;
  top: 5px;
}

.buttonsBlock__checkbox {
  width: 30px;
  height: 26px;
  background: var(--unnamed-color-2873eb) 0% 0% no-repeat padding-box;
  background: #2873eb 0% 0% no-repeat padding-box;
  opacity: 1;
}
.blueButtonWraper {
  width: max-content;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_blue {
  cursor: pointer;
  width: 37.755vw;
  min-width: 170px;
  max-width: 296px;
  margin: 43px 0 34px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  height: 71px;
  background: #01b9ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #01b9ff80;
}
.button__span {
  text-align: left;
  font: Bold 25px/33px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.buttons-checkbox-wrapper {
  display: flex;
}
.miniBlocks {
  width: 42px;
  height: 41px;
  align-content: center;
  position: relative;
  display: flex;
  z-index: 9;
  flex-wrap: wrap;
}
.miniBlocks_white {
  width: 15px;
  height: 15px;
  margin: 1.6px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.miniBlocks_litle {
  width: 11.27px;
  height: 11.27px;
}
.buttonsBlock__questionMark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  margin-left: 7.031vw;
  height: 18px;
  border-radius: 50%;
  background: #c6c6c6 0% 0% no-repeat padding-box;
}
.checkbox-wrapper {
  width: 31px;
  display: flex;
  height: 29px;
  margin-left: 30px;
  transform: none;
}
.questionMark__span {
  font: bold 12px/16px Segoe UI;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  text-shadow: 0px 0px 6px #00000080;
}

/*__RADIO */



.onOffSwitch_bottom {
  margin-bottom: 11.352vw;
}

/* MEDIA SCREEN */

@media screen and (max-width: 515px) {
  .icons {
    flex-wrap: wrap;
  }
  .icons__item {
    margin-top: 5px;
  }
}
@media screen and (max-width: 620px) {
  .button__span {
    font-size: 14px;
  }
}
@media screen and (max-width: 349px) {
  .icons__item_last {
    margin: 10px auto;
  }
}

.cross {
  width: 60px;
  height: 60px;
  background: #B5CAEC 0% 0% no-repeat padding-box;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Glyphter", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #2873EB;
}

