@font-face {
  font-family: "Segoe UI Regular";
  src: url("../fonts/SegoeUI.woff") format("woff");
}

@font-face {
  font-family: "Glyphter";
  src: url("../fonts/Glyphter.woff") format("woff");
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI Regular", Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input {
  outline: none;
}
button {
  cursor: pointer;
}