.black-background {
    background: #23282d;
    position: absolute;
    width: 100%;
    height: auto;
}

.content {
  display: flex;
  height: auto;
  padding: 45px 5.417vw 45px 5.417vw;
  background: white;
  margin-left: 7.031vw;
  margin-top: 1.719vw;
  flex-direction: column;
  height: auto;
}


.licenseBlock {
    background: #FFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.823vw 1.250vw;
    width: calc(100px + 7.813vw + 26.042vw);
    height: calc(126px + 10.417vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.licenseBlock__title {
    font: Bold calc(10px + 0.781vw)/calc(13px + 1.042vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.text {
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(0.521vw + 17px);
}

.licenseBlock__status {
    letter-spacing: 0px;
    display: flex;
}

.status__active {
    width: 27px;
    border: 5px solid #00AE5D;
    border-radius: 50%;
    height: 27px;
    margin-right: 5px;
}

.licenseKey__input {
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.260vw);
    line-height: calc(10px + 0.521vw);
    padding: 1.042vw;
    width: calc(5.208vw + 90px + 10.417vw);
    height: 60px;
    border: none;
}

.licenseKey__button {
    font: Bold calc(10px + 0.417vw)/calc(10px + 0.729vw) Segoe UI;
    letter-spacing: 0px;
    color: #FFF;
    padding: 0.938vw 1.615vw;
    border: none;
    background: #2873EB 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: calc(58px + 5.208vw);
    height: 60px;
}

.licenseKey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.438vw;
    flex-wrap: wrap;
}

.licenseKey__form {
    display: flex;
}

.activeIcon {
    position: absolute;
    background: #00AE5D 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 2px;
    width: 92%;
    left: 4%;
    top: 0;
}

.status__unActive {
    width: 27px;
    border: 5px solid #CC0000;
    border-radius: 50%;
    height: 27px;
    margin-right: 5px;
}

.unActiveIcon {
    position: absolute;
    background: #CC0000 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 2px;
    width: 92%;
    left: 4%;
    top: 0;
}

.licenseBlock:nth-child(odd) {
    margin-right: 2.604vw;
}

.licenseBlock:nth-child(even) {
    margin-left: 2.604vw;
}

.even {
    display: flex;
    margin: 2.604vw 0;
}

@media only screen and (max-width: 1355px) {
    .even {
        flex-direction: column;
    }

    .licenseBlock {
        margin: 1.302vw 0;
    }

    .even > .licenseBlock:last-child {
        margin-left: 0;
    }

}
@media only screen and (max-width: 700px) {
    .licenseBlock {
        width: 100%;
        min-width: calc(100px + 7.813vw + 26.042vw);
    }
}