.black-background {
  background: #23282d;
  position: absolute;
}
.main-page {
  padding: 2.865vw 5.417vw;
  background: white;
  margin-left: 7.031vw;
  margin-top: 1.719vw;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.heading__h1 {
  text-align: left;
  font: Bold 40px/53px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
}

/* BLUE BUTTON */

.blue-button-wraper {
  /* width: 46.301vw; */
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_blue {
  width: 37.755vw;
  max-width: 296px;
  min-width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  height: 71px;
  background: #01b9ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #01b9ff80;
}
.button__span {
  text-align: left;
  font: Bold 25px/33px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
}
.mini-blocks {
  width: 42px;
  height: 41px;
  align-content: center;
  position: relative;
  display: flex;
  z-index: 9;
  flex-wrap: wrap;
}
.mini-blocks_white {
  width: 15px;
  height: 15px;
  margin: 1.6px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
}
.mini-blocks_litle {
  width: 11.27px;
  height: 11.27px;
}

/* addPopup */

.addPopup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.__box {
  width: 357px;
  height: 129px;
  position: relative;
  display: flex;
  margin-bottom: 47.22px;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000026;
  border-radius: 18px;
}
._blue {
  width: 128px;
  height: 129px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2873eb 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001a;
  border-radius: 18px;
  transition: 0.3s;
}
.blue_free {
  transform: translate(-23px, -23px);
}
.__text {
  width: 156px;
  height: 36px;
  margin-left: 21px;
  text-align: left;
  font: Bold 25px/33px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
}
.__icon {
  width: 115px;
}
._free {
  width: 45px;
  height: 27px;
  text-align: left;
  font: Bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #239800;
  text-shadow: 0px 0px 6px #00000029;
  align-self: normal;
  margin: 6px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

}

.pro-extensions_white {
  background: white;
}
.box_gray {
  background: #f1f1f1;
}
.pro-heading {
  margin-bottom: 40px;
}
.pro-extensions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cross {
  display: flex;
  transition: visibility 0s, opacity 0.3s linear;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 73px;
  position: absolute;
  left: 300px;
  bottom: 0px;
  top: 81px;
  background: #2873eb 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #2873eb4c;
  border-radius: 50%;
}

.cross > div {
  width: 6px;
  height: 28px;
  background-color: #fff;
}

.cross > div:first-child {
  position: absolute;
  top: 23px;
}

.cross > div:last-child {
  position: absolute;
  transform: rotate(90deg);
}


/* MEDIA SCREEN */

@media screen and (max-width: 952px) {
  .addPopup {
    justify-content: center;
  }
  .pro-extensions {
    justify-content: center;
  }
  .heading__h1 {
    text-align: center;
  }
  .button_blue {
    margin: auto;
  }
  .heading {
    flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
  .button__span {
    font-size: 20px;
  }
}
