.black-background {
    background: #23282d;
    position: absolute;
    width: 100%;
}

.content {
  display: flex;
  height: 100%;
  padding: 45px 5.417vw 45px 5.417vw;
  background: white;
  margin-left: 7.031vw;
  margin-top: 1.719vw;
}
.aside_left {
  width: 381px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.box__aside_left {
  margin-bottom: 8px;
  padding: 20px;
  width: 381px;
  height: 108px;
  background: #f8f8f8;
}
.box-aside__h3 {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  font-size: calc(20px + (27 - 20) * ((100vw - 300px) / (1600 - 300)));
  font: bolder 20px/27px Segoe UI;
}
.box-aside__span {
  width: 319px;
  height: 40px;
  font: 15px/20px Segoe UI Regular;
  color: #757575;
}
.box__aside_left_active {
  width: 392px;
  height: 124px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #01b9ff29;
  border-left: 3px solid #01b9ff;
}
.box-aside__h3_active {
  text-align: left;
  font: Black 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #01b9ff;
}

.menuIcon {
  width: 40px;
  position: absolute;
  top: 23px;
  right: 10px;
  display: none;
}

.menuIcon > div {
  width: 35px;
  height: 5px;
  background-color: gray;
  margin: 6px 0;
}

.hiddenMenu {
  position: absolute;
  width: 100%;
  background: #23282d;
  z-index: 99;
  display: none;
}

.menu {
  width: 100%;
}

.menu__item {
  list-style: none;
  text-align: center;
  padding: 10px 0;
}

.menu__item > a {
  letter-spacing: 0px;
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  text-decoration: none;
}

.closeIcon {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 999;
}
.closeIcon:hover {
  opacity: 1;
}
.closeIcon:before, .closeIcon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.closeIcon:before {
  transform: rotate(45deg);
}
.closeIcon:after {
  transform: rotate(-45deg);
}
