.black-background {
    background: #23282d;
    position: absolute;
    width: 100%;
    height: auto;
}

.content {
  display: flex;
  height: auto;
  padding: 45px 5.417vw 45px 5.417vw;
  background: white;
  margin-left: 7.031vw;
  margin-top: 1.719vw;
}

.popups {
    padding-top: calc(130px + 10.417vw);
}

.popups__heading {
    font: Bold calc(20px + 0.521vw)/calc(20px + 1.719vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.popups, .form {
    width: 100%;
}

.buttonGroup__button_unrounded {
    border-radius: 5px;
    height: 100%;
    margin: 0;
}

.info {
    margin-top: 4.813vw;
    display: flex;
    justify-content: space-between;
}

.selectGroup {
    display: flex;
}

.select {
    display: flex;
    align-items: center;
    height: 60px;
}

.select__select {
    margin: 0;
}

.select:last-child {
    margin-left: 20px;
}

.buttonGroup__button_black {
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0.14);
    border-radius: 29px;
    padding: 0.459vw 1.188vw;
}

.checkbox-wrapper {
    justify-content: center;
    width: 93%;
}

.select__select_transparient {
    background-size: 9px;
    min-width: 100px;
    background-color: transparent;
    width: 100%;
}

.buttonGroup__button_black {
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: calc(10px + 0.521vw);
    line-height: calc(17px + 0.521vw);
    letter-spacing: 0px;
    color: #000;
    background-color: transparent;
}

.table__data:first-child, .table__head:first-child {
    width: 80px;
}
.table__data:nth-child(2), .table__head:nth-child(2) {
    width: 100px;
}
.table__data:nth-child(3), .table__data:nth-child(4), 
.table__data:nth-child(5), 
.table__head:nth-child(3), .table__head:nth-child(4),
.table__head:nth-child(5) {
    width: 120px;
}

.table__data:nth-child(7), 
.table__data:nth-child(7), 
.table__head:nth-child(8), 
.table__head:nth-child(8) {
    width: 165px;
}

.table__data:nth-child(6), 
.table__head:nth-child(6) {
    width: 180px;
}


@media only screen and (max-width: 1090px) {
    .info {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .buttonGroup {
        margin-top: 25px;
    }

    .buttonGroup__button_black:first-child {
        margin-left: 0;
    }

}

@media only screen and (max-width: 640px) {
    .selectGroup {
        flex-direction: column;
    }

    .selectGroup > .select:last-child {
        margin-left: 0;
        margin-top: 15px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        margin-top: 15px;
    }

    .buttonGroup > .buttonGroup__button_blueBg:first-child {
        margin-left: 0;
    }
}
