.popup-display-rules {
  padding-left: 39px;
  position: relative;
}
.black-background_edited{
    width: unset;
}
.popup-display-rules__heading {
  /* TODO font-family: Bold */
  letter-spacing: 0px;
  color: #000000;
  font-size: 40px;
  line-height: 53px;
}

.crossUp {
  width: 60px;
  height: 60px;
  background: #B5CAEC 0% 0% no-repeat padding-box;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.crossUp > div {
  width: 6px;
  height: 28px;
  background-color: #2873EB;
}

.crossUp > div:first-child {
  position: absolute;
  top: 17px;
}

.crossUp > div:last-child {
  position: absolute;
  transform: rotate(90deg);
}

.slect-icon-wrapper {
  align-items: flex-end;
}

@media screen and (max-width:600px){
    .popup-display-rules{
        padding-left:7px;
    }
}
