.control-group {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
    height: 30px;
    width: max-content;
  }
  .control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 3px;
    cursor: pointer;
    margin-right: 14px;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 27px;
    width: 28px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
  }
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #cccccc;
  }
  
  .control input:checked ~ .control__indicator {
    background: #e6e6e6;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control__indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .control__radio .control__indicator {
    border-radius: 50%;
  }
  
  .control__radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #2873eb;
    transition: background 250ms;
  }
  .control__radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }