.randomPopup {
    padding: 0 2.031vw;
    width: 100%;
}

.randomPopup__heading {
    font: Bold calc(20px + 1.042vw)/calc(1.532vw + 20px) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.form {
    margin-top: calc(13px + 0.521vw);
}

.formItem {
    display: flex;
    align-items: center;
}

.formItem__title {
    padding-right: 20px;
    font: Bold calc(0.521vw + 10px)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.content {
    padding-top: 30.625vh;
}

@media only screen and (max-width: 800px) {
    .menuIcon {
        display: block;
    }

    .aside_left {
        display: none;
    }

    .black-background, .content {
        height: 100%;
    }
}

.buttonsBlock_right {
    margin-left: auto;
    margin-top: 100px;
}