.content {
    padding-top: 15.625vw;
}

.socialOptions {
    width: 100%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.socialOptions__heading {
    font: Bold calc(20px + 1.042vw)/calc(33px + 1.042vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 50px;
}

.contactForm {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: calc(12px + 0.625vw);
}

.livePreview {
    border-radius: 27px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    width: calc(50px + 6.427vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.livePreview__text {
    font: Bold calc(10px + 0.260vw)/calc(10px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
    margin-left: 5px;
}

.formItem {
    padding: 1.198vw 0;
}

.formItem_flex {
    display: flex;
    align-items: center;
}

.formItem__title, .subFormItem__title {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.subForm {
    background-color: rgba(0, 0, 0, 0.02);
    padding: calc(10px + 0.521vw) 0;
    margin-top: 21px;
}

.subFormItem {
    display: flex;
    padding: calc(14px + 1.042vw) 0;
    align-items: center;
    margin: 0 calc(10px + 0.521vw);
}

.subFormItem__title {
    margin-right: 15px;
}

.subFormItem_gray {
    background-color: rgba(0, 0, 0, 0.02);
    margin: 0;
    padding: 10px 0;
}

.subFormItem__title_light {
    letter-spacing: 0px;
    color: #000;
    font-size: calc(10px + 0.521vw);
    line-height: calc(0.521vw + 17px);
    margin-right: 20px;
    margin-left: 22px;
}

.subFormItem__input {
    padding: calc(10px + 0.313vw) calc(10px + 0.469vw);
    background: #E5E5E5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    letter-spacing: 0px;
    font-size: calc(10px + 0.521vw);
    line-height: calc(0.521vw + 17px);
    color: #000;
    border: none;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 3px;
    cursor: pointer;
    margin-right: 14px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 27px;
    width: 28px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #cccccc;
}

.control input:checked ~ .control__indicator {
    background: #e6e6e6;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}

.control__radio {
    height: 30px;
    margin-left: 18px;
}

.control__radio .control__indicator {
    border-radius: 50%;
}

.control__radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #2873eb;
    transition: background 250ms;
}
.control__radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.formItem_column {
    display: flex;
    flex-direction: column;
    padding-left: 5.208vw;
}

.formItem__title_small {
    letter-spacing: 0px;
    color: #000;
    font-size: 12px;
    line-height: 16px;
}

.formItem__input::placeholder {
    font: Italic 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #C2C2C2;
}

.formItem__input {
    padding: 15px 20px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    width: calc(113px + 10.417vw);
}

.theme {
    padding: calc(10px + 0.365vw) calc(10px + 0.313vw) calc(10px + 0.365vw) calc(10px + 0.625vw);
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.theme__text_flat {
    letter-spacing: 0px;
    color: #000;
    font-size: 12px;
    line-height: 16px;
}

.theme__button {
    letter-spacing: 0px;
    color: #FFF;
    font-size: 15px;
    line-height: 20px; 
    width: 94px;
    border: none;
}

.theme__button_blueBg {
    padding: 9px;
    background: #3490F3 0% 0% no-repeat padding-box;
    margin: 9px 0;
}

.theme__button_redBg {
    background: #DD4B39 0% 0% no-repeat padding-box;
    padding: 9px;
}

.theme_active {
    transform: scale(1.5);
    border: 2px solid #05ACFA;
}

.theme__text_active_flat  {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.themes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.theme__button_transparient_blue {
    font: Regular calc(7px + 0.521vw)/calc(12px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #3490F3;
    padding: 9px;
}

.theme__button_transparient_red {
    letter-spacing: 0px;
    font-size: calc(7px + 0.521vw);
    line-height: calc(12px + 0.521vw);
    color: #DD4B39;
    padding: 9px;
}

.theme__button_gray {
    letter-spacing: 0px;
    font-size: calc(7px + 0.521vw);
    line-height: calc(12px + 0.521vw);
    padding: 8px;
    color: #757575;
    border: 1px solid #757575;
    border-radius: 10px;
}

.subFormItem__input_small {
    width: calc(60px + 5.208vw);
    border-radius: 5px 0 0 5px;
}

.subFormItem__inputText {
    background: #E5E5E5 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0px;
    padding-right: 10px;
}

.flex {
    display: flex;
}

.select__select {
    margin-top: 0;
}

.buttonsBlock_right {
    margin-left: auto;
}

@media only screen and (max-width: 1485px) {
    .theme_active {
        transform: scale(1);
    }

    .subFormItem_themes, .themes {
        flex-direction: column;
    }
} 

@media only screen and (max-width: 1150px) {
    .menuIcon {
        display: block;
    }

    .aside_left {
        display: none;
    }
}

@media only screen and (max-width: 715px) {
    .socialIcons {
        display: none;
    }
}