/* .subscriber-submitted-data {
  font: Bold calc(20px + 1.042vw) / calc(1.532vw + 20px) Segoe UI;
  text-align: center;
} */
.subscriber-submitted-data__heading {
  font: Bold calc(20px + 1.042vw) / calc(1.532vw + 20px) Segoe UI;
  text-align: center;
  margin-bottom: 2.846vw;
}

.subscriber-submitted-data {
  position: relative;
  margin: 4.14vw 14.36vw 10.479vw 11.125vw;
  padding: 6.727vw 6.21vw 8.175vw;
  width: 74.515vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 0px 30px rgb(0 0 0 / 20%);
  border-radius: 16px;
  text-align: center;
}
.x,
.y {
  height: 2px;
  width: 11px;
  left: 7px;
  background: white;
  position: absolute;
  border-radius: 5px;
}
.x {
  transform: rotate(45deg);
}
.y {
  transform: rotate(-45deg);
}
.closeIconSub {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background: #2873eb 0% 0% no-repeat padding-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}
.mailBlock {
  padding-bottom: 3.234vw;
  padding-top: 3.234vw;
  border-bottom: 1px solid #e0e0e0;
}
.notBorder {
  border: none;
}
.spanRegular {
  font: Regular 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #545454;
}
