.subscriptionPlusEmailNotification, .form, .formItem {
    width: 100%;
}

.subscriptionPlusEmailNotification {
    padding: 1.042vw 1.927vw;
}
.subscriptionPlusEmailNotification__heading {
    font: Bold calc(20px + 1.042vw)/calc(20px + 1.719vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.formItem {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.formItem__title {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.onOffswitch_right {
    margin-left: 24px;
}

.formItem__input {
    width: calc(120px + 10.417vw);
    border: none;
    padding: 10px 15px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    height: 60px;
    margin-left: 22px;
}

.subForm {
    padding: 10px 14px;
    background: rgba(0, 0, 0, 0.02);
    width: 100%;
}

.subForm_column {
    flex-direction: column;
    display: flex;
    margin: 20px 0;
}

.left, .right {
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sections {
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
    height: 39px;
}

.sections__section {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
    padding: 11px 30px;
}

.sections__section_active {
    color: #2873EB;
    border-bottom: 3px solid #2873EB;
}

.icons__item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #b5caec;
    margin: 0 5px;
}

.icons__item_blue {
    background: #B5CAEC 0% 0% no-repeat padding-box;
}

.icons__item_pink {
    background: #FFCECE 0% 0% no-repeat padding-box;
}

.subForm {
    display: flex;
}

.subFormItem {
    margin: 20px 0;
    display: flex;
}

.subFormItem__input::placeholder {
    font: Italic calc(10px + 0.260vw)/calc(10px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.subFormItem__input {
    padding: 15px 18px;
    background: #ECECEC 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    width: calc(50px + 13.583vw);
}

.subFormItem__paragraph {
    letter-spacing: 0px;
    color: #757575;
    font-size: calc(10px + 0.260vw);
    line-height: calc(10px + 0.521vw);
}

.subFormItem_shadowed {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #0000001A;
    border-radius: 5px;
}

.select__select {
    margin: 0;
}

.subFormItem__button {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #FFF;
    background: #007FE1 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
}

.right {
    padding: 15px 13px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.livePreview {
    border-radius: 27px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    width: calc(50px + 6.427vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.livePreview__text {
    font: Bold calc(10px + 0.260vw)/calc(10px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
    margin-left: 5px;
}

.subFormItem__input_withMargin {
    margin: 17px 0;
}

.subFormItem__button {
    padding: 17px 0;
}

.subForm__title {
    font: Bold calc(10px + 0.521vw)/calc(17px + 0.521vw) Segoe UI;
    letter-spacing: 0px;
    color: #000;
}

.content {
    padding: 45px 1.417vw 45px 1.417vw;
}

@media only screen and (max-width: 1350px) {
    .aside_left {
        display: none;
    }

    .menuIcon {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .subForm {
        width: 100%;
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .sections {
        width: 100%;
    }

    .subFormItem__input {
        width: calc(100px + 16.979vw);
    }

    .subFormItem_shadowed {
        width: calc(150px + 15.625vw);
    }

    .select__select {
        width: 70%;
    }

    .subFormItem__button {
        width: 30%;
    }

    .livePreview {
        width: 150px;
    }
}

@media only screen and (max-width: 775px) {
    .select__select {
        height: 76px;
    }
}

@media only screen and (max-width: 700px) {
    .subFormItem_shadowed {
        width: 270px;
    }

    .subForm_column > .subFromItem {
        display: flex;
        justify-content: center;
    }

    .subFormItem__button {
        margin: 0 auto;
        width: 150px;
    }
}

@media only screen and (max-width: 420px) {
    .subForm {
        padding: 4px;
    }
}

@media only screen and (max-width: 380px) {
    .sections__section_active {
        padding: 11px 7%;
    }
}

@media only screen and (max-width: 380px) {
    .sections__section_active {
        padding: 11px 4%;
    }
}

@media only screen and (max-width: 330px) {
    .sections__section_active {
        padding: 11px 2%;
    }
}