.onOffswitch {
    position: relative;
    width: 87px;
  }
  .onOffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .onOffswitch__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 21px;
  }
  .onOffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .onOffswitch-inner:before,
  .onOffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 42px;
    padding: 0;
    line-height: 42px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  .onOffswitch-inner:before {
    content: "on";
    padding-top: 5px;
    padding-left: 17px;
    background-color: #e6e6e6;
    color: #000000;
    font: bold 20px/27px Segoe UI Regular;
  }
  .onOffswitch-inner:after {
    content: "off";
    padding-right: 15px;
    padding-top: 7px;
    background-color: #e6e6e6;
    color: #a3a3a3;
    text-align: right;
    font: bold 20px/27px Segoe UI Regular;
  }
  .onOffswitch-switch {
    display: block;
    width: 33px;
    margin: 4.5px;
    background: #b3b3b3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 41px;
    border-radius: 21px;
    transition: all 0.3s ease-in 0s;
  }
  .onOffswitch-checkbox:checked + .onOffswitch__label .onOffswitch-inner {
    margin-left: 0;
  }
  .onOffswitch-checkbox:checked + .onOffswitch__label .onOffswitch-switch {
    right: 0px;
    background-color: #2873eb;
  }
  