.video-popup-options {
  padding: 0 39px;
  width: 100%;
}

.video-popup-options__heading {
  font: Bold calc(1.042vw + 20px) / calc(20px + 1.719vw) Segoe UI;
  letter-spacing: 0px;
  color: #000;
}
.formItem {
  width: 100%;
  display: flex;
  margin: 23px 0;
  align-items: center;
}

.formItem__title {
  font: Bold calc(10px + 0.521vw) / calc(10px + 0.885vw) Segoe UI;
  letter-spacing: 0px;
  color: #000;
}
.grayFormItem__input {
  padding: 15px 21px;
  border: none;
  background: #efefef 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: calc(72px + 13.021vw);
  margin-left: 18px;
  margin-right: 18px;
}

.grayFormItem__input::placeholder {
  letter-spacing: 0px;
  color: #c2c2c2;
  font-size: calc(0.521vw + 10px);
  font-style: italic;
  line-height: calc(0.521vw + 10px);
}

.grayFormItem:first-child {
  margin-bottom: calc(10px + 1.458vw);
}
.icons__item {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b5caec;
}
.icons__item_first {
  margin-right: 13px;
}
.onOffswitch {
  margin-left: 13px;
}
.buttonsBlock_right {
  margin-left: auto;
  margin-top: 5.208vw;
}

@media only screen and (max-width: 1055px) {
  .aside_left {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .video-popup-options {
    padding: 0;
  }
  .formItem__title_marginBottom{
      margin-bottom: 15px;
  }
  .formItem{
      flex-wrap: wrap;
  }
}
